.pure-control-group
  %a.pure-button.pure-button-active{href: "/admin/market/new", title: "New", alt: "New"}
    %i.fa.fa-file{aria-hidden: "true"}
      
.table-responsive
  %table.mq-table.pure-table.pure-table-bordered
    %thead
      %tr
        %th code 
        %th name
        %th country 
        %th is_deleted
        %th date_created
        %th date_modified
        %th &nbsp;
    %tbody
    - for l_market <- @markets do
      %tr
        %td= l_market.code
        %td= l_market.name
        %td= l_market.country
        %td #{if l_market.is_deleted do}&#9745;#{else}&#9744;#{end}
        %td #{Timex.format!(l_market.date_created, "%Y-%m-%d %H:%M", :strftime)}
        %td #{Timex.format!(l_market.date_modified, "%Y-%m-%d %H:%M", :strftime)}
        %td
          %a.pure-button{href: "#{admin_market_path(@conn, :edit, l_market.market_id)}", title: "Modify", alt: "Modify"}
            %i.fa.fa-pencil{:aria-hidden => "true"}
          %a.rest.pure-button{href: "#{admin_market_path(@conn, :delete, l_market)}", title: "Delete", alt: "Delete", data-method: "DELETE"}
            %i.fa.fa-trash-o{:aria-hidden => "true"}
