.pure-control-group
  %a.pure-button.pure-button-active{href: "/admin/product/new", title: "New", alt: "New"}
    %i.fa.fa-file{aria-hidden: "true"}
      
.table-responsive
  %table.mq-table.pure-table.pure-table-bordered
    %thead
      %tr
        %th name
        %th description
        %th is_deleted
        %th date_created
        %th date_modified
        %th &nbsp;
    %tbody
    - for l_product <- @product_records do
      %tr
        %td= l_product.name
        %td= l_product.description
        %td #{if l_product.is_deleted do}&#9745;#{else}&#9744;#{end}
        %td= l_product.date_created
        %td= l_product.date_modified
        %td
          %a.pure-button{href: "#{admin_product_path(@conn, :edit, l_product.product_id)}", title: "Modify", alt: "Modify"}
            %i.fa.fa-pencil{:aria-hidden => "true"}
          %a.rest.pure-button{href: "#{admin_product_path(@conn, :delete, l_product)}", title: "Delete", alt: "Delete", data-method: "DELETE"}
            %i.fa.fa-trash-o{:aria-hidden => "true"}
      %tr
        %td *
        %td= l_product.product_tick_info.tick
        %td= l_product.product_tick_info.tick_value
        %td= l_product.product_tick_info.margin_day_proc
        %td= l_product.product_tick_info.margin_night_proc
        %td #{if l_product.product_tick_info.is_deleted do}&#9745;#{else}&#9744;#{end}
      %tr
        %td *
        %td= l_product.market.code
        %td= l_product.market.name
        %td= l_product.market.country
        %td #{if l_product.market.is_deleted do}&#9745;#{else}&#9744;#{end}
        %td
