- form_for @changeset, @action, [multipart: true], fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below.

  .form-group
    = label f, :date_buy, class: "control-label"
    = text_input f, :date_buy, class: "form-control"
    = error_tag f, :date_buy

  .form-group
    = label f, :date_sell, class: "control-label"
    = text_input f, :date_sell, class: "form-control"
    = error_tag f, :date_sell

  .form-group
    = label f, :price_buy, class: "control-label"
    = number_input f, :price_buy, class: "form-control"
    = error_tag f, :price_buy

  .form-group
    = label f, :price_sell, class: "control-label"
    = number_input f, :price_sell, class: "form-control"
    = error_tag f, :price_sell

  .form-group
    = label f, :shares_buy, class: "control-label"
    = number_input f, :shares_buy, class: "form-control"
    = error_tag f, :shares_buy

  .form-group
    = label f, :shares_sell, class: "control-label"
    = number_input f, :shares_sell, class: "form-control"
    = error_tag f, :shares_sell

  .form-group
    = label f, :commission_buy, class: "control-label"
    = number_input f, :commission_buy, class: "form-control"
    = error_tag f, :commission_buy

  .form-group
    = label f, :commission_sell, class: "control-label"
    = number_input f, :commission_sell, class: "form-control"
    = error_tag f, :commission_sell

  .form-group
    = label f, :tax_buy, class: "control-label"
    = number_input f, :tax_buy, class: "form-control"
    = error_tag f, :tax_buy

  .form-group
    = label f, :tax_sell, class: "control-label"
    = number_input f, :tax_sell, class: "form-control"
    = error_tag f, :tax_sell

  .form-group
    = submit "Submit", class: "pure-button pure-button-active"
