.pure-control-group
  %a.pure-button.pure-button-active{:href => "/trade/journal/new", :title => "New"}
    %i.fa.fa-file{:title => "New", :aria-hidden => "true"}
%br/
.pure-control-group
  Filter for account goes here...
%br/
.table-responsive
  %table.mq-table.pure-table.pure-table-bordered
    %thead
      -# TODO: split/visualize entered values vs calculated values.
      %tr
        %th trade_calculated_id
        %th product_id
        %th pool_id
        %th trade_cost_id
        %th trade_drawdown_id
        -# TODO: link in product
        -# TODO: link in pool info
        -# TODO: link in trade costs? perhaps in detail screen?
        -# TODO: link in drawdown
        %th date_buy
        %th date_sell
        %th date_created
        %th date_modified
        %th &nbsp;
    %tbody
    - for l_record <- @trade_records do
      %tr
        %td= l_record.trade_calculated_id
        %td= l_record.product_id
        %td= l_record.pool_id
        %td= l_record.trade_cost_id
        %td= l_record.trade_drawdown_id
        -# TODO: link in product
        -# TODO: link in pool info
        -# TODO: link in trade costs? perhaps in detail screen?
        -# TODO: link in drawdown
        %td= l_record.date_buy
        %td= l_record.date_sell
        %td= l_record.date_created
        %td= l_record.date_modified
        %td
          %a.pure-button{:href => "#{trade_journal_path(@conn, :edit, l_record.trade_journal_id)}", :title => "Modify", :alt => "Modify"}
            %i.fa.fa-pencil.fa-fw{:aria-hidden => "true"}
          %a.rest.pure-button{:href => "#{trade_journal_path(@conn, :delete, l_record)}", :title => "Delete", :alt => "Delete", :data-method => "DELETE"}
            %i.fa.fa-trash-o{:aria-hidden => "true"}
