.pure-control-group
  %a.pure-button.pure-button-active{href: "/trade/journal/new", title: "New", alt: "New"}
    %i.fa.fa-file{aria-hidden: "true"}
%br/
.pure-control-group
  Filter for account goes here...
%br/
.table-responsive
  %table.mq-table.pure-table.pure-table-bordered
    %thead
      -# TODO: split/visualize entered values vs calculated values.
      %tr
        %th trade_id
        %th account
        %th product
        %th pool
        %th date_buy
        %th date_sell
        %th price_buy
        %th price_sell
        %th shares_buy
        %th shares_sell
        %th commission_buy
        %th commission_sell
        %th tax_buy
        %th tax_sell
        %th drawdown
        %th &nbsp;
    %tbody
    - for l_record <- @trade_records do
      %tr
        %td= l_record.trade_id
        %td= l_record.account.name
        %td= l_record.product.name
        %td= l_record.pool.pool_id
        %td= l_record.date_buy
        %td= l_record.date_sell
        %td= l_record.price_buy
        %td= l_record.price_sell
        %td= l_record.shares_buy
        %td= l_record.shares_sell
        %td= l_record.commission_buy
        %td= l_record.commission_sell
        %td= l_record.tax_buy
        %td= l_record.tax_sell
        %td #{l_record.trade_drawdown.drawdown_current}/#{l_record.trade_drawdown.drawdown_max}
        %td
          %a.pure-button{:href => "#{trade_journal_path(@conn, :edit, l_record.trade_journal_id)}", :title => "Modify", :alt => "Modify"}
            %i.fa.fa-pencil{:aria-hidden => "true"}
          %a.rest.pure-button{:href => "#{trade_journal_path(@conn, :delete, l_record)}", :title => "Delete", :alt => "Delete", :data-method => "DELETE"}
            %i.fa.fa-trash-o{:aria-hidden => "true"}
